---
import { getArtists } from '@/utils/payload/artist';

import Record from '@/components/Record.astro';
import Layout from '@/layouts/Layout.astro';
import type { InferGetStaticParamsType } from 'astro';
import type { Artist as ArtistType } from '@/types';
import { getRecordsByArtist } from '@/utils/payload/record';
import Content from '@/components/Content.astro';
import PayloadImage from '@/components/PayloadImage.astro';

// TODO: how to get type hints...?

export async function getStaticPaths() {
  const artists = await getArtists();

  const paths = artists.map((artist) => ({
    params: { slug: artist.slug?.toString() },
    props: { artist }
  }));

  return paths;
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

interface Props {
  artist: ArtistType;
}

// const { slug } = Astro.params as Params;
const { artist } = Astro.props;

const records = await getRecordsByArtist(artist.id);
---

<Layout title={artist.name}>
  <section class="grid grid-cols-12 gap-20 items-start">
    <div class="col-span-full flex flex-col md:col-span-9">
      <h1
        class="relative z-10 -mb-6 ml-1 text-7xl font-black text-[#c5b5c9] mix-blend-exclusion dark:text-[#d9bfff]"
        transition:name={`heading`}
      >
        {artist.name}
      </h1>

      <div class="mb-8 flex gap-6">
        <div class="w-1/4 flex-grow-0">
          <div class="overflow-hidden rounded-sm">
            <PayloadImage
              src={artist.image}
              alt={artist.name}
              class="aspect-square w-full object-cover"
              transition:name={`artist-${artist.id}`}
            />
          </div>
        </div>
      </div>
      <Content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          veritatis repudiandae id eos laborum sint quod. Quae quas ea
          architecto, quam totam exercitationem aliquam reiciendis obcaecati
          corporis at officia quod est non modi! Libero culpa accusamus
          necessitatibus, quae doloribus totam minima veritatis mollitia illum
          recusandae quas reiciendis nisi eos provident obcaecati.
        </p><p>
          Sapiente mollitia ad dolores non debitis necessitatibus velit amet,
          reprehenderit, quasi magnam labore eaque, pariatur eligendi facere
          cumque obcaecati optio vero. Aliquid atque accusamus voluptatem nisi
          pariatur neque labore. Ex quibusdam praesentium illum, voluptate hic
          tenetur unde. Dolores, laboriosam esse! Iusto excepturi placeat ut
          fugit unde itaque eveniet reprehenderit!
        </p>
      </Content>
    </div>
    {
      records?.length > 0 && (
      <aside
    class="col-span-full rounded-lg bg-armyGreen/10 px-6 py-4 dark:bg-[#d6b8ff1a] md:col-span-3"
  >
    <h2
      class="mb-6 text-center text-xl font-bold text-armyGreen dark:text-[#bb84ff]"
    >
      Records
    </h2>
        <div class="flex gap-5 md:flex-col md:items-center">
          {records.map((record) => (
            <div class="col-span-3 md:col-span-2">
              <Record record={record} class="flex-1" />
            </div>
          ))}
        </div>
      </aside>
      )
    }

    <!-- SIMILAR ARTISTS... -->
  </section>
</Layout>
