---
import ArtistImage from '@/components/ArtistImage.astro';
import type { Artist, Genre } from '@/types';

interface Props {
  artist: Artist;
  class?: string;
}

const { artist, class: className } = Astro.props;

const genres: Genre[] = artist?.genres?.map((genre) => genre.title) || [];
---

<article class={className}>
  <a
    href={`/artists/${artist.slug}`}
    class="glossy-hover mb-2 block rounded-sm"
  >
    <ArtistImage artist={artist} transition:name={`artist-${artist.id}`} />
  </a>
  <p class="font-medium leading-5">{artist.name}</p>
  <p class="text-xs text-gray-medium dark:text-gray-light">
    {genres.join(', ')}
  </p>
</article>
