---
import type { Artist } from '@/types';

interface Props {
  artist: Artist;
  class?: string;
}

const { artist, class: className } = Astro.props;
---

<article class={className}>
  <a
    href={`/artists/${artist.slug}`}
    class="glossy-hover mb-2 block rounded-sm"
  >
    <img
      src={artist.image.url}
      alt={artist.name}
      class="aspect-square h-full w-full object-cover"
      transition:name={`artist-${artist.id}`}
    />
  </a>
  <p class="leading-5">{artist.name}</p>
</article>
