---
import { getContentArray } from '@/utils/helpers';
import { getImageSrc } from '@/utils/payload/image';
import { Image } from 'astro:assets';
const { heading, content, class: className, ...rest } = Astro.props;
const contentArray = getContentArray(content);

interface Props {
  heading?: string;
  content?: {
    [k: string]: unknown;
  }[];
  class?: string;
  [k: string]: unknown;
}
---

<div class={`prose ${className}`} {...rest}>
  {heading && <h2>{heading}</h2>}
  {
    contentArray.map((value) => {
      if (typeof value === 'string') {
        return <article set:html={value} />;
      } else {
        return (
          <Image
            src={getImageSrc(value.src)}
            width={value.width}
            height={value.height}
            format="webp"
            alt=""
          />
        );
      }
    })
  }
</div>
