---
import RecordArtists from '@/components/RecordArtists.astro';
import type { Record } from '@/types';

interface Props {
  record: Record;
  class?: string;
}

const { record, class: className } = Astro.props;
---

<article class={className}>
  <a href={`/records/${record.id}`} class="glossy-hover mb-2 block rounded-sm">
    <img
      src={record.image.url}
      alt={`${record.title} album cover`}
      class="aspect-square h-full w-full object-cover"
    />
  </a>
  <p class="leading-5">{record.title}</p>
  <p class="text-xs font-light text-armyGreen">
    <RecordArtists record={record} class="hocus:underline" />
  </p>
</article>
