---
import RecordArtists from '@/components/RecordArtists.astro';
import RecordImage from '@/components/RecordImage.astro';
import type { Record } from '@/types';

interface Props {
  record: Record;
  class?: string;
}

const { record, class: className } = Astro.props;
---

<article class={className}>
  <a
    href={`/records/${record.slug}`}
    class="glossy-hover mb-2 block rounded-sm"
  >
    <RecordImage record={record} transition:name={`record-${record.id}`} />
  </a>
  <p class="leading-5">{record.title}</p>
  <p class="text-xs font-light text-black dark:text-[#f8f8f8]">
    <RecordArtists record={record} class="hocus:underline" />
  </p>
</article>
