---
import RecordArtists from '@/components/RecordArtists.astro';
import RecordImage from '@/components/RecordImage.astro';
import type { Record } from '@/types';

interface Props {
  record: Record;
  small?: boolean;
  class?: string;
}

const { record, class: className, small } = Astro.props;
---

<article class={`record ${className}`} data-status={record.collectionStatus}>
  <a
    href={`/records/${record.slug}`}
    class="glossy-hover mb-2 block rounded-sm"
  >
    <RecordImage record={record} transition:name={`record-${record.id}`} />
  </a>
  <p
    class={`font-medium leading-5 ${small ? 'text-xs' : 'text-xs sm:text-sm'}`}
  >
    {record.title}
  </p>
  <p class="text-xs text-gray-medium dark:text-gray-light">
    <RecordArtists record={record} class="hocus:underline" />
  </p>
</article>
